<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="'Change info:'"></h1>
<form th:method="PUT" th:action="@{/mobile_phones/{id}(id=${mobilePhone.getId()})}" th:object="${mobilePhone}">
    <label for="brand">Brand</label>
    <input type="text" th:field="*{brand}" id="brand"/>
    <br>
    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model"/>
    <br>
    <label for="performance">Performance</label>
    <input type="text" th:field="*{performance}" id="performance"/>
    <br>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price"/>
    <br>
    <input type="button" value="Main View"
           onclick="window.location.href = '/'"/>
    <input type="button" value="Mobile Phones"
           onclick="window.location.href = '/mobile_phones/'"/>
    <input type="submit" value="Update">
</form>
</body>
</html>