<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'Jesus!'"></h1>
<h2 th:text="'This guy have no mobile phone!'"></h2>
<h2 th:text="'You can edit user profile and add mobile phone or not'"></h2>
<br>
<input type="button" value="Main View"
       onclick="window.location.href = '/'"/>
<input type="button" value="Mobile Phones"
       onclick="window.location.href = '/mobile_phones'"/>
<input type="button" value="Users"
       onclick="window.location.href = '/users'"/>
</body>
</html>